/** splash image */
.content:before {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block; //
	http: //uredb.reading.ac.uk/ure/pixdir/2006.20h/inbox/2006.20 .0318 .jpg//background-image:
		
		
		
		 url('http://uredb.reading.ac.uk/ure/pixdir/2008.99g/xlarge/2008.99.0325.jpg');
	background-image:
		url('http://uredb.reading.ac.uk/ure/pixdir/2004.13/xlarge/2004.13.0032.jpg');
	background-image:
		url('http://uredb.reading.ac.uk/ure/pixdir/2007.99c/inbox/2007.99.0096.jpg');
	background-position: 52% 48%;
	width: 1300px;
	height: 800px;
	/** 
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
 opacity: 0.4;
 */
}

.content {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 0;
	margin-left: 20px;
	margin-right: 20px;
	background: black;
}

form#loginForm {
	margin: 10px 120px 10px 120px;
}

#login-form-container {
	position: fixed;
	color: white;
	left: 30%;
	top: 30%;
	width: 600px;
	background: black; //
	margin: 40px 40px 40px 40px;
	padding: 40px 10px 40px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#login-form-container input {
	background: white;
	margin-bottom: 10px;
}

input:-webkit-autofill,textarea {
	background-color: white !important;
}

body {
	background: black;
}

#topNavWrap {
	margin-bottom: 0px !important;
}

/* --- Desktop --- */
@media screen and (max-width: 1140px) {
	#wrapper {
		max-width: 980px;
	}
}

/* --- Tablet --- */
@media screen and (max-width: 768px) {
}
/* --- Mobile --- */
@media screen and (max-width: 488px) {
	.content {
		position: relative;
		background: gray;
		padding: none;
		margin: none;
	}
	form#loginForm {
		margin: 10px 120px 10px 120px;
	}
	#login-form-container { //
		position: fixed;
   		 top: 40px;
    	
    	left: 3%;;
		color: white;
		width: 300px;
		background: #222; 
		border-left: 3px dotted rebeccapurple;
    border-right: 3px dotted rebeccapurple;
    border-top: 3px dotted rebeccapurple;
    border-bottom: 3px dotted rebeccapurple;
    -webkit-border-radius: 8px;
		margin: 40px 40px 40px 0;
		padding: 40px 10px 40px 10px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	.content:before {
		content: "";
		background-image: none;
		.4;
		*/
	}
	form#loginForm {
	margin: 10px 10px 10px 10px;
}
	.content {
		background: gray;
	}
}