
#sc-overlay {
position:absolute;
    z-index:1000;
    height: 100%;
    width: 100%;
}

#searchbar_container input{
    position:relative;
    z-index:1;
}


#main {
/**
	background-image: url(http://uredb.reading.ac.uk/ure/pixdir/thumbs_new_small.jpg);
	background-size: cover;
*/
	min-height: 1200px !important;
	padding: 0;
	margin: 0;
	overflow: hidden;

}

.cell {
	background-size: cover;
	border: 2px solid gray;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	color: #000;
}

#big-grid {
	margin-top: 20px;
}

.image-infobox {
	background: black;
	color: white;
	opacity: 0.6;
	padding-left: 30px;
}

.image-infobox div {
	line-height: normal;
	padding-bottom: 10px;
}

.image-infobox  .short_title {
	font-style: italic;
	font-weight: bold;
}

.hide-infodiv {
	display: none;
}

.image-infobox .desc {
	line-height: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#thumbmap {
	position: absolute;
	top: -5px;
	left: -30px;
	z-index: 100;
	display:none;
}
#left_nav {
display:none;

}
// search

.stylish-input-group {
				 
				 
				}
				#searchableForm {
				
				height: 60px;
				width: 600px;
			
				}
				#searchbar_container {
				position: relative;
				top: 250px;
				z-index: 2000;
				}
