/** dev features */
._________________________ Dev stuff _________________________ {
	
}

.dev-features {
	display: none;
}

#beta-warning {
	padding: 0;
	height: 10px;
	width: 100%;
	background: black;
	color: silver;
	text-align: center;
}

#versioninfo {
	position: absolute;
	font-family: "Times New Roman";
	z-index: 1020;
	top: 40%;
	left: 40%;
	height: 100px;
	width: 300px;
	background: #b75763;
	font-size: 12pt;
	color: bisque;
	padding: 10px;
	text-align: center;
}

/* GENERAL PAGE STYLES */
._________________________ General Page Styles _________________________
	{
	
}

html,.container,body {
	height: 100%;
	width: 100%;
}

body {
	font-size: 100%;
	font-family: "Trebuchet MS", "arial", "helvetica", sans-serif;
	background-color: #CC6633;
	/* background-color: #000000; */
	margin: 0 auto;
	color: #000000;
	padding: 0;
	border: 0;
}

div#wrapper {
	height: 100%;
	width: 100%;
}

h1 {
	font-size: 1.6em;
	font-family: "Times New Roman";
	font-weight: lighter;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 12px 0em;
	color: #FFFFCC;
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 1.5em;
	font-family: "Times New Roman", serif;
	font-weight: lighter;
	margin: 0px 0px 9px 0px;
	padding: 0.5em 0px 0px 0px;
	color: #FFFFCC;
}

h3 {
	font-size: 1.3em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: lighter;
	margin: 0px 0px 20px 0px;
	padding: 1em 0px 0px 0px;
	color: #CCCC66;
}

h4 {
	font-size: 1.1em;
	font-weight: lighter;
	font-family: "Times New Roman";
	font-style: normal;
	margin: 0px 0px 9px 0px;
	padding: 0.8em 0px 0px 0px;
	color: #CCCC66;
}

p {
	font-size: 1em;
	margin: 1em 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

p.home {
	font-size: 1em;
	margin: 1em 0.5em 0px 40%;
	padding: 0px 0px 0px 0px;
}

address {
	font-size: 0.9em;
	font-style: italic;
	margin: 1em 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

div.clearboth {
	clear: both;
}

ul {
	font-size: 1em;
	margin: 0em 0px 0px 0em;
	padding: 0px 0em 0em 0.2em;
}

ol {
	font-size: 1em;
	margin: 0em 0px 0px 2em;
	padding: 0px 0em 0px 0em;
}

li {
	margin-left: 2em;
}

th,td,tr {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0;
}

table {
	padding: 5px;
	font-size: 0.9em;
}

caption {
	font-size: 1.3em;
	font-style: normal;
	font-weight: lighter;
	margin: 0px 0px 1em 0px;
	padding: 1em 0px 0px 0px;
	color: #CCCC66;
}

hr {
	color: #CCCC66;
}

img {
	margin: 5px 30px 5px 30px;
}

img.text {
	margin: 0;
}

img.menu {
	margin: 0;
	float: right;
}

a {
	text-decoration: underline;
	color: white;
}

a:active {
	text-decoration: none;
	color: #CCCC99
}

a:visited {
	text-decoration: none;
	color: #99CCEE;
}

a:hover {
	text-decoration: underline;
	color: #CCCC99;
}

/* END OF GENERAL PAGE STYLES */
._________________________ Top Navigation Bar _________________________
	{
	
}
/* TOP NAVIGATION BARS - STYLES */
#horiz {
	
}

#top_nav {
	background: #ffffff;
}

.firsttitle {
	color: #FFFFCC;
	font-size: 150%;
	padding: 2px 10px 0 0;
}

#gplusNavWrap {
	position: relative;

	display: inline;
	width: 100%;
	font-size: 12px;
	background-color: black;
	color: grey;
	height: 10px;
	margin: 10px 10px 10px 10px;
	margin: 10px 10px 10px 40px;
	top: 20px;

}
#userloginname .name::before {
	content: "Hi, "
	
	
}
#userloginname {
	
	
	width: 200px;
    display: inline-block;
}
#topNavWrap {
	position: relative; //
	left: 140px;
	float: right;
	width: 100%;
	margin-bottom: 10px;
	font-size: 12px;
	background-color: black;
	color: grey;
	height: 31px;
	padding: 3px 0 0 20px;
}

#topNavWrap a:hover {
	color: silver;
}

span#loggedin_message {
	position: relative;
	left: 10px;
}

ul#topNav {
	position: relative;
	float: right;
	height: 27px;
	padding: 5px 0 0 250px;
	top: -10px;
	font-size: 1em;
	margin: 0em 0px 0px 0em;
}

ul#topNav li {
	float: left;
	padding: 5px;
	list-style: none;
}

ul#topNav li a {
	font-size: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
	color: #ff942b;
}

ul#topNav li a:hover {
	color: #33a0ff;
}

#skipnav {
	text-align: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
	color: #ffffff;
	background-color: #000000;
	background-image: url(../../images/ure/urelogo1.gif);
	background-repeat: no-repeat;
	background-position: right;
	font-size: 0.7em;
}

.skip {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute; /* for the benefit of IE5 Mac */
}

/* MAIN TITLE BAR */
#top2_nav {
	height: 2.5em;
	vertical-align: bottom;
	padding: 1em 0em 0em 8em;
	color: white;
	/* background-color: #333366; */
	background-color: #990033;
	background-image: url(../../images/ure/head2.gif);
	background-repeat: no-repeat;
	background-position: center left;
	font-weight: bold;
}

#titlebar {
	padding: 1em 0em 0em 0em;
	color: white;
	background-color: #990033;
	background-image: url(../../images/ure/head2.gif);
	background-repeat: no-repeat;
	background-position: center left;
	font-weight: bold;
	width: 100%;
}

.folder {
	height: 2.5em;
	text-align: center;
	background-color: #ffcc66;
	padding: 0em 0 0em 0em;
	margin: 0em 0 0 0;
	color: green;
	font-size: 0.9em;
	width: 100%;
}

.hidden {
	display: none;
}

.tab {
	float: left;
	background-color: #ffcc66;
	color: #660033;
	padding: 0.5em 0.8em 0.5em 0.8em;
	border-right: 1px solid #990033;
	background-image: url(tab1.gif);
	background-repeat: no-repeat;
	background-position: top right;
}

/** TOPNAV */
#topnav {
	margin-bottom: 0 !important;
	border: none !important;
	border-radius: 0 !important;
	min-height: 35px;
	background: #511;
}

#topnav a {
	color: #FFFFCC !important; //
	background: black;
	/* background: #99CCFF; */
	height: 18px;
	font-size: 10pt;
	font-weight: 400;
	opacity: 0.8;
	text-decoration: none;
}

#topnav a:hover {
	color: white !important;
	opacity: 1;
}

#topnav a.navbar-item-active {
	color: white !important;
	opacity: 1;
}
/*BREADCRUMBS BAR */
#breadcrumb-nav {
	color: #333;
	border: 0;
	border-bottom: 1px dotted #411 !important;
}

#breadcrumb-nav a {
	color: #FFFFCC !important; //
	background: black;
	/* background: #99CCFF; */
	height: 18px;
	font-size: 10pt;
	font-weight: 400;
	opacity: 0.8;
	text-decoration: none;
}

#breadcrumb-nav a:hover {
	color: white !important;
	opacity: 1;
}

#breadcrumb-nav a.navbar-item-active {
	color: white !important;
	opacity: 1;
}

#breadcrumb-items-left {
	color: #FFFFCC !important;
	height: 18px;
	font-size: 10pt;
	font-weight: 400;
	opacity: 0.8;
	text-decoration: none;
}

#breadcrumb-items-middle {
	color: #FFFFCC !important;
	height: 18px;
	font-size: 10pt;
	font-weight: 400;
	opacity: 0.8;
	text-decoration: none;
}

.ure-nav {
	background: #511;
	height: 18px;
	font-size: 12pt;
	font-weight: 600;
}

.np2-navlinks {
	padding-left: 38% !important;
}

.nav-links {
	width: 80%;
	padding-left: 300px;
	display: inline;
}

.nav-item-left {
	margin-left: 100px !important;
}

.nav-item {
	position: relative;
	top: 5px;
	margin-top: 10px;
	display: inline;
	margin-left: 40px;
}

.newpage-breadcrumb {
	height: 35px !important;
}

.left-item {
	position: relative;
	top: 5px;
	margin-left: 100px;
	font-size: 16pt;
	font-family: Vesta;
	font-weight: 400;
	display: inline;
}

a:link.nav2 {
	text-decoration: underline;
	color: #CC6666;
	font-size: 1em;
}

a:active.nav2 {
	text-decoration: none;
	color: #CCCC99;
	font-size: 1em;
}

a:visited.nav2 {
	text-decoration: none;
	color: #990000;
	font-size: 1em;
}

a:hover.nav2 {
	text-decoration: underline;
	color: #660000;
	font-size: 1em;
}

a:link.left1 {
	color: green;
	color: #330033;
	text-decoration: underline;
}

a:visited.left1 {
	text-decoration: none;
	color: #FFFFCC;
}

a:hover.left1 {
	color: #CCCC99;
	text-decoration: underline;
}

a:link.reccellcontent {
	text-decoration: underline;
	color: #99ffff;
	font-size: 1em;
}

a:active.reccellcontent {
	text-decoration: none;
	color: #77ffff;
	font-size: 1em;
}

a:visited.reccellcontent {
	text-decoration: none;
	color: #33ffff;
	font-size: 1em;
}

a:hover.reccellcontent {
	text-decoration: underline;
	color: #00ffff;
	font-size: 1em;
}

/*END OF BREADCRUMBS BAR */

/* END OF TOP NAVIGATION BARS */
._________________________ Content _________________________ {
	
}

#blocky {
	min-height: 60%;
	padding-left: 10px;
	border: 0;
	width: 100%;
	height: 80%;
	background-color: #CC6633;
}

#right_nav_fill {
	height: inherit;
	position: absolute;
	background-color: #660000;
	color: #FFFFCC;
}

/* LEFT HAND NAVIGATION STYLE */
._________________________ Left  panel _________________________ {
	
}

#left_nav { //
	float: left;
	padding: 0em 0em 0em 0em;
	font-size: 1em; //
	width: 20%;
	background-color: #CC6633;
	color: white;
	font-size: 1em;
	font-family: "Trebuchet MS", "arial", "helvetica", sans-serif;
	vertical-align: top;
}

#left_nav_small {
	float: left;
	padding: 0em 0em 0em 0em;
	left: 0;
	width: 20%;
	background-color: #CC6633;
	color: white;
	font-size: 0.8em;
	font-family: sans-serif;
	vertical-align: top;
}

div.left_nav1 {
	float: left;
	clear: left;
	font-size: 1.4em;
	border-top: 1px solid #cc9900;
	padding: 1em 0em 1em 1em;
	margin: 0em 0em 0em 0em;
	width: 100%;
	color: white;
	vertical-align: top;
	/* 
	           background-image: url(arrow.gif);
               background-repeat: no-repeat;
               background-position: left; 
	       */
}

div:hover.left_nav1 {
	border-top: 1px solid #cc9900;
	display: block;
	/* width: 100%;  */
	padding: 1em 0em 1em 1em;
	margin: 0em 0em 0em 0em;
	background-color: #660000;
	color: #CCCC99;
}

a:link.left_nav {
	/*	color: green; */
	text-decoration: underline;
}

a:visited.left_nav1 {
	text-decoration: none;
	color: #FFFFCC;
}

a:hover.left_nav1 {
	color: #CCCC99;
	/* background-color: #990033; */
	text-decoration: underline;
	/* width: 90%;  */
}

a:link.left_nav2 {
	color: #330033;
	text-decoration: underline;
}

a:visited.left_nav2 {
	text-decoration: none;
	color: #FFFFCC;
}

a:hover.left_nav2 {
	color: #CCCC99;
	/* background-color: #990033; */
	text-decoration: underline;
	/* width: 90%;  */
}

div.left_nav2 {
	float: left;
	clear: left;
	font-size: 1em;
	/*  border-top: 1px solid #cc9900; */
	/*    padding: 1em 0em 1em 1em; */
	padding: 2px 0em 5px 18px;
	margin: 0em 0em 0em 0em;
	width: 100%;
	color: white;
	vertical-align: top;
}

div:hover.left_nav2 {
	display: block;
	/* width: 100%;  */
	padding: 2px 0em 5px 18px;
	margin: 0em 0em 0em 0em;
	background-color: #660000;
	color: #CCCC99;
}
/*  COMPARANDA  */
div#comparanda {
	position: fixed;
	top: 40%;
	width: 200px;
}

/* END OF LEFT HAND NAVIGATION STYLE */
._________________________ Main panel _________________________ {
	
}

/* MAIN SECTION STYLES */
#main { //
	float: left;
	padding: 1em 1em 4em 1em;
	background-color: #660000;
	color: #FFFFCC;
	/* color: #CCCC66; */ //
	width: 70%;
	vertical-align: top; //
	min-height: 100%;
	min-height: 1200px;
	font-size: 1.5em;
}

.topmain {
	padding-bottom: 20px;
	padding-top: 20px;
}

#main2 {
	float: left;
	padding: 1em 1em 4em 1em;
	background-color: #660000;
	color: green;
	/* color: #CCCC66; */
	width: 80%;
	vertical-align: top;
	min-height: 100%;
}

#mainsmall {
	float: left;
	padding: 1em 1em 4em 1em;
	background-color: #660000;
	color: #FFFFCC;
	/* color: #CCCC66; */
	width: 100%;
	vertical-align: top;
	min-height: 100%;
}

a.white {
	color: #FFFFFF;
	text-decoration: underline;
}

.email {
	color: #CCCC99;
	font: 1em courier;
}

/* END OF MAIN STYLE */

/* TOUR NAVIGATION */
span.left_nav_tour {
	float: left;
	clear: left;
	border-top: 1px solid #cc9900;
	display: block;
	width: 100%;
	padding: 1em 0.2em 0em 0.1em;
	margin: 0em 0em 0em 0em;
	/* font: bold; */
	color: #ffffff;
	vertical-align: middle;
}

span:hover.left_nav_tour {
	border-top: 1px solid #cc9900;
	display: block;
	width: 100%;
	padding: 1em 0em 0em 0.1em;
	margin: 0em 0em 0em 0em;
	background-color: #660000;
}

a:link.left_nav_tour {
	color: #330033;
	text-decoration: underline;
}

a:visited.left_nav_tour {
	text-decoration: underline;
	color: #FFFFCC;
}

a:hover.left_nav_tour {
	color: #CCCC99;
	text-decoration: underline;
}

span.lt-control:hover {
	cursor: pointer;
}

/* END OF TOUR NAVIGATION SECTION */

/* QUIZ ANSWERS */
.answer {
	background-color: #990033;
	color: #FFFFFF;
}

/* END OF QUIZ ANSWERS */
._________________________ Footer _________________________ {
	
}
/* BOTTOM OF PAGE GRAPHICS BARS */
#banner {
	border: 0;
	clear: left;
	float: left;
	width: 100%;
	background-color: #660000;
	background-image: url(../../images/ure/banner2.jpg);
	background-repeat: no-repeat; //
	background-position: center center;
	background-position: 98% 10%;
	padding: 0em 0em 0em 0em;
	height: 4em;
	/* font-size: 0.8em; */
}

#uor {
	border: 0;
	clear: left;
	float: left;
	width: 100%;
	/*background: #CCCC66;*/
	/*color: #660000;*/
	background: #000000;
	color: #FFFFFF;
	background-image: url(../../images/ure/web-black.gif);
	background-repeat: no-repeat;
	background-position: right;
	padding: 0.1em 0em 0.1em 0em;
	font-size: 0.7em;
	font-family: sans-serif;
	min-height: 4em;
}

/* END OF BOTTOM OF PAGE GRAPHICS BARS */
._________________________ Record page _________________________ {
	
}

.reccellhead {
	padding-top: 5px;
	vertical-align: top;
}

.reccellcontent {
	padding-top: 5px;
	padding-left: 5px;
	width: 500px
}

.recfields {
	
}

.imagesperitem {
	border: 1px solid #cc9900;
	margin: 10px 10px 10px 10px;
	width: 95%
}

div:hover.left_nav1 a.left1 {
	/* width: 100%;  */
	background-color: #660000;
	color: white;
}

#fieldlist-title {
	font-size: 20px;
	padding: 10px 0 8px 20px;
}

.fieldlist {
	font-size: 0.9em;
}

.stylish-input-group .input-group-addon {
	background: white !important;
}
/** searchbar2 */
._________________________ Search bar _________________________ {
	
}

.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}

.stylish-input-group button {
	border: 0;
	background: transparent;
}

/** align the search bar right */
#search-top-row .searchbar-col {
	padding-right: 10px;
}

//
make sure the search page background stays there . 
#searchpage-center {
	min-height: 100%;
}

#search-top-row {
	margin-bottom: 10px;
}

/* search bar side */
#searchableForm input {
	color: black;
}
/*  search bar*/
#header form {
	margin-left: 0 !important;
}

button#qs-search-old {
	position: relative;
	top: 5px;
	left: -35px;
	height: 26px;
	width: 30px;
	background: url("/images/searchIcon.gif") no-repeat scroll 4px -228px
		#FAFAFA;
	border: 0;
}

#searchable-index-searchbar 	button#qs-search-old {
	position: relative;
	top: 6px;
	left: -35px;
	height: 23px;
	width: 30px;
	background: url("/images/searchIcon.gif") no-repeat scroll 4px -228px
		#FAFAFA;
	border: 0;
}

#results .cell {
	text-shadow: none !important;
}

.uredb-matcher { //
	border: 3px solid silver;
	background: gray;
	border-radius: 3px 3px 3px 3px;
	padding: 3px 5px 3px 5px;
	color: pink !important;
}

._________________________ Browse lists _________________________ {
	
}
/** GRID widget styles */

/** reclist2.gsp */
#tokenlist-grid {
	font-size: 8px;
}

#tokenlist-grid .image-infobox {
	background: black;
	color: white;
	opacity: 0.6;
	padding-left: 3px;
}

#tokenlist-grid  .image-infobox div {
	line-height: normal;
	padding-bottom: 10px;
}

#tokenlist-grid  .image-infobox  .short_title {
	font-style: italic;
	font-weight: bold;
}

#tokenlist-grid  .image-infobox .desc {
	line-height: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: none;
}

#mobile-grid {
	display: none;
}
/* reclist2 */
#toprow-reclist2 {
	margin-bottom: 15px;
}

/* record.gsp */
#record-page-wrapper .reccellcontent a {
	text-decoration: none;
	color: inherit;
}

#record-page-wrapper  .reccellcontent a:hover { //
	text-decoration: underline;
	background: #99CCEE;
	color: black;
}

._________________________ Record  metadata _________________________ {
	
}
/** --Metadata record.gsp -- */
#ure-description a {
	text-decoration: none;
	color: inherit;
}

#ure-description a:visited {
	color: inherit !important;
}

#ure-images-container {
	min-height: 120px;
}

#ure-images {
	margin-bottom: 10px;
	width: 100%;
	display: none;
	min-height: 100px;
}

#ure-description {
	width: 80%;
	padding-left: 12px;
	margin-bottom: 10px;
}

.ure-record-col-left {
	text-align: right;
	padding-right: 20px;
	opacity: 0.7
}

ure-record-col-left:after {
	content: ":"
}

.ure-technical-details .row {
	padding-bottom: 8px;
}

#ure-other-details {
	min-height: 200px;
	width: 85%;
}

#ure-other-details .row {
	padding-bottom: 8px;
}
/** --END Metadata record.gsp -- */
._________________________ Browse images _________________________ {
	
}

/** --Browseimageresult.gsp -- */
#browse_image_list .show_more {
	float: right;
	cursor: pointer;
}

#browse_image_list .show_more:hover {
	color: white;
}

#results_title .show_all {
	float: right;
	cursor: pointer;
}

#results_title .show_all:hover {
	color: white;
}

#browse_image_list {
	list-style-type: none;
}

#browse_image_list .browse_image_result {
	border: thin ridge #CCCC66;
	margin: 10px;
	padding: 10px 5px 10px 10px; //
	width: 30%;
}

#results_title {
	margin: 10px 0 10px 42px;
	font-size: 14pt;
}

#results_title span {
	color: #CCCC66;
}

#browse_image_list .browse_image_image {
	display: inline;
}

#browse_image_list .browse_image_image div.caption {
	font-size: 14px;
	padding: 0 5px 0 10px;
}

#browse_image_list .browse_image_image a {
	text-decoration: none;
}

#browse_image_list .ure_hidden {
	
}

#browse_image_list .hideme {
	display: none;
}

/** -- END Browseimageresult.gsp -- */
._________________________ Comparanda _________________________ {
	
}

/** comparanda */
#comparanda-thumbs img {
	margin: 5px 3px 5px 3px;
	height: 40px;
}
/** glyphicon left strip controls */
span.glyphicon.ure-control-btn:hover {
	color: #A1CAF1;
	cursor: pointer;
}

.comparanda-target-container.ui-droppable-hover {
	background:orange;
}

._________________________ Comparanda Page project strip_________________________
	{
	
}

#project-strip-container {
	width: 100%;
	padding-bottom: 12px;
	overflow-x: scroll;
}

#project-strip {
	width: 3000px;
	height: 100px;
	background: black;
}

}
#project-strip {
	width: 1000px;
	height: 100px;
	overflow-x: scroll;
}

.project-box {
	background: black;
	width: 180px;
	height: 100px;
	display: inline-block;
	float: left;
	margin-left: 2px;
	overflow: hidden;
	border-right: 1px solid #311;
}

.project-box:hover {
	cursor: pointer;
}

.project-box-title {
	color: white;
	font-size: 12px;
	padding: 5px;
}

.project-box-items {
	
}

.project-box-item {
	display: inline;
	float: left;
	background: #222;
	padding: 3px;
}

.project-box-item-caption {
	color: white;
	font-size: 8px;
}

.project-box-item-image-container  img {
	max-width: 40px;
	margin: 0;
	padding-left: 2px;
}

.project-box-selected {
	
    border: 2px dotted #2088e1;
    border-radius: 5px;
}


._________________________ Record image strip _________________________
	{
	
}
/** record image strip */
#record-images .image-infobox {
	background: black;
	color: white;
	opacity: 0.6;
	padding-left: 3px !important;
	font-size: 8px;
}

#record-images .image-infobox .caption {
	display: inline !important;
}

#record-images .image-infobox .name {
	display: none !important;
}

#record-images .image-infobox .short_title {
	display: none !important;
}

#record-images .image-infobox .date {
	display: none !important;
}

.image-drag-helper { //
	background-size: cover;
	clip: rect(0px, 60px, 60px, 0px);
}

.flash_1 {
	background-color: green;
}

/** modal message box */
#alert-modal {
	position: fixed;
	bottom: -18px;
	left: 0;
	opacity: 1;
	z-index: 99999;
	font-size: 20px;
	padding-left: 20%;
}

._________________________ Lighttable _________________________ {
	
}

.lighttable-controls2 {
	padding: 0 !important;
}

.lighttable-controls2>span {
	margin-left: 5px;
}

img.lighttable {
	margin: 5px 3px 5px 3px;
}

span.lighttable-link {
	cursor: pointer;
}

#close-lighttable {
	cursor: pointer;
}

img.lighttable-ui-small {
	height: 100px;
	margin: 5px 5px 5px 5px;
}

.ure-image-container {
	display: inline;
	padding: 10px;
	cursor: pointer;
}

#lighttable-links .ure-control-btn {
	cursor: pointer;
}

#lighttable-container {
	position: fixed;
	display: none;
	background-color: black;
	width: 80%;
	height: 100%;
	border-top: 4px solid gray;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-border-bottom-right-radius: 5px;
	border-border-top-right-radius: 5px;
	padding: 10px;
}

#lighttable-container-inner {
	overflow: hidden;
	height: 100%;
}

#lighttable-trash {
	display: none;
}

#lighttable-container .control-btn {
	color: white;
	cursor: pointer;
	/* border: thin ridge white;
	
	background-color: green;
	
	max-width: 100px; */
	cursor: pointer;
	/* text-align: center;
	display: inline;
	padding: 5px 10px 5px 10px;
	margin: 10px;
 */
}

#lighttable-controls {
	padding: 5px 0 5px 10px;
	background-color: black;
	border-top: 4px solid gray;
	border-left: 4px solid gray;
	border-bottom: 4px solid gray;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-border-bottom-left-radius: 5px;
	border-border-top-left-radius: 5px;
	width: 30px;
	position: relative;
	top: -14px;
	left: -40px;
}

#lighttable-thumbs img {
	height: 32px;
	margin: 1px;
}

.img-selected  img {
	border: 1px solid rgb(86, 180, 239);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px
		rgba(82, 168, 236, 0.6);
	height: auto;
}

.img-selected  canvas {
	border: 4px solid rgb(86, 180, 239);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px
		rgba(82, 168, 236, 0.6);
	height: auto;
}

._________________________ Image Modal _________________________ {
	
}

/** modal message box */
#overlay1 {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 9991;
	opacity: 0.6;
	display: none;
}

#image-modal {
	position: fixed; //
	bottom: 108px; //
	top: 10px; //
	left: 200px; //
	opacity: 0.7;
	z-index: 9992;
	padding: 10%;
	display: none;
	width: 100%;
	height: 100%; //
	background: black;
	padding: 0;
}

#image-modal .close-image {
	color: white;
	position: relative;
	top: -280px;
	left: -19px;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 5px;
	background: black;
	width: 19px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.image-modal-nav-container {
	font-size: 20px;
	text-decoration: none;
	color: silver;
}

.image-modal-nav-container a:nth-child(1) {
	float: left;
	margin-right: 90%;
	text-decoration: none;
	font-size: 20px;
}

#image-modal .image-modal-container {
	max-width: 55%;
	margin: 0 auto;
	min-height: 600px;
	background: black;
	position: relative;
}

#image-modal .image-modal-data-container {
	margin: 0 auto;
	width: 100%;
}

.image-modal-nav-container {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#image-modal .caption-container {
	min-height: 100px;
	background: black;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 18px;
}

#image-modal img {
	max-width: 100%;
	margin: auto;
	display: block;
	opacity: 1;
}

#extlink-container {
	padding-top: 10px;
}

a#extlink:link {
	text-decoration: none !important;
}

#close-image-button:hover {
	color: silver;
}

#close-image-button {
	cursor: pointer;
	font-size: bold;
}

#top2_nav h1 {
	position: relative;
	top: -7px;
	font-size: 1.9em;
}

/** Searchable */
#main .title {
	background: none;
	border-top: none;
}

._________________________ Comparanda Controls _________________________
	{
	
}

#comparanda-nav-list { //
	margin-top: 10px;
}

.comp-nav-img-container {
	display: block;
}

.comp-nav-img {
	height: 15px;
}

.comp-nav-list-group {
	list-style-type: none;
	padding: 0 0 0 0;
	border: 1px solid #ddd;
	opacity: 1;
	background: pink;
}

.comp-nav-list-group img {
	margin: 0 0 0 3px;
}

.comp-nav-list-group  li {
	padding: 0 0 0 0;
	border-bottom: 1px solid #ddd;
	margin-left: 0 !important;
}

.comp-nav-list-group  .comp-nav-record {
	opacity: 1;
	background: gray;
	padding-top: 8px;
	padding-bottom: 4px;
}

.comp-nav-list-group .comp-nav-comps {
	opacity: 1;
	background: #222;
	padding-top: 8px;
	padding-bottom: 4px;
}

.comp-nav-list-group  li:last-child {
	border-bottom: none;
}

.ure-dropdown {
	position: relative;
	display: inline-block;
}

.ure-dropdown-content {
	display: none;
	position: absolute; //
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	top: -50px;
	left: -120px;
	z-index: 1;
}

.ure-dropdown:hover .ure-dropdown-content {
	display: block;
}

._________________________ Europeana Widget _________________________ {
	
}
/** 
* Europeana Widget
* 
*/
.pagination-widget {
	display: inline;
	padding-left: 12px;
}

.pagination-widget .incrementer { //
	text-decoration: underline;
	cursor: pointer;
	"
}

.pagination-widget .incrementer:hover {
	color: aqua;
}

#relevance-vote {
	padding-left: 20px;
}

.voterbtn {
	position: absolute;
	bottom: 0;
}

.eu-grid .cell {
	background-size: cover;
	border: 2px solid gray;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	color: #000;
}

.eu-grid .cell.bs-cell {
	margin: 5px 5px 5px 5px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.eu-grid .image-infobox {
	background: black;
	color: white;
	opacity: 0.6;
	padding-left: 3px;
	font-size: 8px;
}

.eu-grid  .image-infobox div {
	line-height: normal;
	padding-bottom: 10px;
}

.eu-grid .image-infobox  .short_title {
	font-style: italic;
	font-weight: bold;
	overflow: hidden;
	text-overflow-multiline: ellipsis;
	height: 19px;
}

.eu-grid .image-infobox .desc {
	line-height: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.eu-grid  .hide-infodiv {
	display: none;
}

.fieldlist-img {
	height: 40px;
}

#euwidget .cell {
	height: 100px;
	width: 100px;
}
/** END  Europeana Widget */
._________________________ project form modal _________________________ {
	
}
	#project-form-modal {
		color:black;
	}
	#project-form-modal .modal-body .form-horizontal .col-sm-2,
	#project-form-modal .modal-body .form-horizontal .col-sm-10 {
	    width: 100%
	}
	
	#project-form-modal .modal-body .form-horizontal .control-label {
	    text-align: left;
	}
	#project-form-modal .modal-body .form-horizontal .col-sm-offset-2 {
	    margin-left: 15px;
	}
	#project-form-modal .modal-title {
		color: black;
		font-size: 18pt;
	}
	#new-project-button:hover {
		cursor: pointer;
	
	}
	
	#compwrap {
	margin-top: 40px;
	
	}


._________________________ GAPI _________________________ {
	
}
// hide the gplus welcome back pop-up
iframe[src^="https://apis.google.com"] {
  display: none;
}

._________________________ Media _________________________ {
	
}

._________________________ Desktop _________________________ {
	
}

@media screen and (max-width: 1140px) {
	#wrapper {
		max-width: 980px;
	}
}

._________________________ Tablet _________________________ {
	
}
/** tablet */
@media ( min-width : 768px) {
	.navbar-nav>li>a {
		padding-top: 10px !important;
	}
}

._________________________ Smartphones (portrait and landscape ) _________________________
	{
	
}

@media only screen and (min-device-width : 320px) and (max-device-width
	: 488px) {
	#main {
		width: 100%;
		max-width: 400px;
	}
	/**
	* -hide the sidebar
	*/
	#left_nav {
		display: none;
	}
	.cell { //
		width: 50px !important; //
		height: 50px !important;
	}
	#big-grid {
		display: none;
	}
	#mobile-grid {
		display: block;
	}
	#record-table {
		max-width: 100%;
	}
	.ure-record-col-left {
		text-align: left;
		padding-right: 0
	}
	#other-details-container {
		padding-left: 0;
	}
	#other-details-col-outer {
		padding-left: 0;
	}
	#ure-other-details .nav { //
		display: none;
	}
	#ure-other-details .tab-pane { //
		display: block !important;
	}
	#ure-description div {
		padding-left: 5px;
	}
	#ure-description .ure-record-col-left {
		padding-left: 12px;
		padding-bottom: 5px;
	}
	#ure-description div.ure-decoration {
		padding-left: 12px;
	}
	#record-images .cell {
		height: 50px !important;
		width: 50px !important;
	}
	#euwidget .cell {
		height: 50px;
		width: 50px;
	}
}